<div
  [class.bg-red-50]="isCritical"
  class="min-h-screen transition-colors duration-500 bg-slate-50 p-6"
>
  <div class="w-full h-full mx-auto space-y-4">
    @if (isCritical) {
    <div
      class="bg-red-600 text-white p-4 rounded-xl shadow-lg animate-pulse flex items-center justify-between"
    >
      <span class="font-bold flex items-center gap-2">
        ⚠️ CRITICAL GRID LOAD DETECTED
      </span>
      <button
        (click)="isCritical = false"
        class="text-xs bg-red-800 px-2 py-1 rounded"
      >
        DISMISS
      </button>
    </div>
    }

    <div
      class="flex justify-between items-center bg-white p-4 rounded-xl shadow-sm border border-slate-200"
    >
      <div class="flex gap-4 items-center">
        <div>
          <h1 class="text-2xl font-bold text-slate-800">SynCity Energy Grid</h1>
          <p class="text-slate-500 text-sm">Real-time Sensor Feed</p>
        </div>
        <button
          (click)="isAdminMode = !isAdminMode"
          class="text-xs font-bold px-3 py-1 rounded-full border transition-colors"
          [class.bg-slate-800]="isAdminMode"
          [class.text-white]="isAdminMode"
          [class.bg-white]="!isAdminMode"
          [class.text-slate-800]="!isAdminMode"
        >
          {{ isAdminMode ? "EXIT ADMIN" : "ADMIN LOGIN" }}
        </button>
      </div>

      <div class="text-right">
        <div
          [class.text-red-600]="currentUsage > 100"
          class="text-3xl font-mono font-bold text-blue-600 transition-colors"
        >
          {{ currentUsage }} <span class="text-sm text-slate-400">kW</span>
        </div>
        <div
          class="text-xs text-green-500 font-semibold uppercase tracking-wider"
        >
          ● {{ status }}
        </div>
      </div>
    </div>

    <div
      class="bg-white p-4 rounded-xl shadow-sm border border-slate-200 flex items-center justify-between"
    >
      <div>
        <h3 class="font-bold text-slate-700">Grid Control</h3>
        <p class="text-xs text-slate-500">Master Override</p>
      </div>

      <div class="flex items-center gap-4">
        <div class="flex gap-4 items-center">
          <div
            [class.bg-green-500]="isSystemActive"
            [class.bg-slate-300]="!isSystemActive"
            class="w-4 h-4 rounded-full animate-pulse"
          ></div>
          <div>
            <div class="font-bold text-slate-700">
              {{ isSystemActive ? "Operational" : "Maintenance Mode" }}
            </div>
            <div class="text-xs text-slate-400">
              {{
                isSystemActive
                  ? "Receiving Sensor Data..."
                  : "Data Stream Halted"
              }}
            </div>
          </div>
        </div>
        <button
          (click)="toggleSystem()"
          [class.bg-red-500]="isSystemActive"
          [class.bg-green-600]="!isSystemActive"
          class="px-6 py-2 rounded-lg text-white font-bold shadow transition-colors hover:opacity-90"
        >
          {{ isSystemActive ? "STOP SYSTEM" : "RESUME GRID" }}
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div
        class="md:col-span-2 bg-white p-6 rounded-xl shadow-sm border border-slate-200"
      >
        <h3 class="font-semibold text-slate-700 mb-4">Live Load Monitor</h3>
        <canvas
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'"
        >
        </canvas>
      </div>

      <div
        class="bg-white p-6 rounded-xl shadow-sm border border-slate-200 h-full"
      >
        <h3 class="font-semibold text-slate-700 mb-4 flex items-center gap-2">
          Recent Incidents
          <span
            class="bg-slate-100 text-slate-600 text-xs px-2 py-0.5 rounded-full"
            >{{ alerts.length }}</span
          >
        </h3>

        <div class="space-y-3">
          @for (alert of alerts; track $index) {
          <div class="p-3 bg-red-50 border-l-4 border-red-500 rounded text-sm">
            <div class="font-bold text-red-700">
              Load Spike: {{ alert.value }}kW
            </div>
            <div class="text-red-400 text-xs mt-1">
              {{ alert.timestamp | date : "mediumTime" }}
            </div>
          </div>
          } @if (alerts.length === 0) {
          <div class="text-slate-400 text-sm italic py-4 text-center">
            System Nominal. No Incidents.
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="text-center text-slate-600 text-xs py-4">
    &copy; 2025 SynCity Energy Solutions. All rights reserved.
  </div>
</footer>

@if(isAdminMode){
<div
  class="h-screen w-screen fixed inset-0 grid place-items-center bg-zinc-800/50 z-20 overflow-hidden"
>
  <div class="bg-slate-50 relative p-6 pb-2 rounded-md min-w-120 h-fit">
    <svg
      (click)="isAdminMode = !isAdminMode"
      type="button"
      class="absolute top-4 right-5 h-5 w-5 cursor-pointer text-black"
      clip-rule="evenodd"
      fill-rule="evenodd"
      stroke-linejoin="round"
      stroke-miterlimit="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"
      />
    </svg>
    <app-admin-panel></app-admin-panel>
  </div>
</div>
}
